core-branch-osgi/components/cddlm/src/org/smartfrog/services/cddlm/xsd/jsdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.gridforum.org/JSDL"
  xmlns="http://www.gridforum.org/JSDL"
  elementFormDefault="qualified">

  <!--=====================================================================-->
  <!-- The Extends mechanism - rough copy                                  -->
  <!--=====================================================================-->

  <xsd:element name="Extend">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute name="name" type="xsd:string"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>

  <!--=====================================================================-->
  <!-- The core document -->
  <!-- In this section we define the main Sections and the way to extend   -->
  <!-- this. -->
  <!--=====================================================================-->

  <xsd:element name="job">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="JobIdentification"
          minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="Resource"
          minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="Environment"
          minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="SoftwareRequirements"
          minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="Application"
          minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="DataAttributes"
          minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <!--========================================================================-->

  <xsd:element name="Application">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ExecutableDescription" type="xsd:string"
          minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="ExecutableName"
          minOccurs="0" maxOccurs="1"/>
        <xsd:element name="Argument" type="xsd:string"
          minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="StdIn" type="xsd:string"
          minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="StdOut" type="xsd:string"
          minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="StdErr" type="xsd:string"
          minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="WorkingDirectory" type="xsd:string"
          minOccurs="0" maxOccurs="1"/>
        <xsd:element name="Log" type="xsd:string"
          minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ExecutableName">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute name="type" type="xsd:string"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Executable">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ExecutableType" type="xsd:string"
          minOccurs="0" maxOccurs="1"/>
        <xsd:element name="ExecutableDescription" type="xsd:string"
          minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="ExecutableName" type="xsd:string"
          minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <!--=======================================================================-->

  <xsd:element name="JobIdentification">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="JobName" type="xsd:string"
          minOccurs="0" maxOccurs="1"/>
        <xsd:element name="JobAnnotation" type="xsd:string"
          minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="ExecutionUserID"
          minOccurs="0" maxOccurs="1"/>
        <xsd:element name="JobProjectName" type="xsd:string"
          minOccurs="0" maxOccurs="1"/>
        <xsd:element name="JobCategory" type="xsd:string"
          minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="Extend"
          minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>


  <xsd:element name="ExecutionUserID">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="User"
          minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="User">
    <xsd:complexType>
      <xsd:attribute name="name" type="xsd:string"/>
      <xsd:attribute name="group" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>

  <!--========================================================================-->

  <xsd:element name="SecurityAttributes">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>

  <!--========================================================================-->

  <xsd:element name="SchedulingAttributes">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>

  <!--========================================================================-->

  <xsd:element name="Environment">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="EnvironmentVariable"
          minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="HostSpecificEnvironment"
          minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="HostSpecificEnvironment">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="EnvironmentVariable"
          minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="EnvironmentVariable">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute name="name" type="xsd:string"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>

  <!--========================================================================-->

  <xsd:element name="SoftwareRequirements">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="OperatingSystem"
          minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="Limits"
          minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="Queue" type="xsd:string"
          minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="OperatingSystem">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="OperatingSystemDescription" type="xsd:string"
          minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="OperatingSystemVersion" type="xsd:string"
          minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Limits">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ProcessVirtualMemoryLimit" type="xsd:string"
          minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="VirtualMemoryLimit" type="xsd:string"
          minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="DataSegmentSizeLimit" type="xsd:string"
          minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="CoreDumpSizeLimit" type="xsd:string"
          minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="CPUTimeLimit" type="xsd:string"
          minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="WallTimeLimit" type="xsd:string"
          minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!--========================================================================-->

  <xsd:element name="Resource">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Architecture"
          minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="HostType"
          minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="Network"
          minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="FileSystem"
          minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="SwapSpace" type="xsd:string"
          minOccurs="0" maxOccurs="1"/>
        <xsd:element name="TemporarySpace" type="xsd:string"
          minOccurs="0" maxOccurs="1"/>
        <xsd:element name="ExclusiveExecution" type="xsd:boolean"
          minOccurs="0" maxOccurs="1"/>
        <xsd:element name="ProcessTopology" type="xsd:string"
          minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="FileSystem">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="xsd:string">
          <xsd:attribute name="name" type="xsd:string"/>
          <xsd:attribute name="size" type="xsd:string"/>
        </xsd:extension>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="HostType">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="HostName" type="xsd:string"
          minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="Architecture"
          minOccurs="0" maxOccurs="1"/>
        <xsd:element ref="Network"
          minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element ref="FileSystem"
          minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="TempSpace" type="xsd:string"
          minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="SwapSpace" type="xsd:string"
          minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="ExclusiveExecution" type="xsd:string"
          minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
      <xsd:attribute name="name" type="xsd:string"/>
      <xsd:attribute name="description" type="xsd:string"/>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Architecture">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="CPUDescription" type="xsd:string"
          minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="CPUCount" type="xsd:integer"
          minOccurs="0" maxOccurs="1"/>
        <xsd:element name="CPUSpeed" type="xsd:string"
          minOccurs="0" maxOccurs="1"/>
        <xsd:element name="PhysicalMemory" type="xsd:string"
          minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="Network">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="NetworkDescription" type="xsd:string"
          minOccurs="0" maxOccurs="1"/>
        <xsd:element name="NetworkCount" type="xsd:integer"
          minOccurs="0" maxOccurs="1"/>
        <xsd:element name="NetworkBandwidth" type="xsd:string"
          minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <!--========================================================================-->

  <xsd:element name="DataAttributes">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="File"
          minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <!--========================================================================-->

  <xsd:element name="File">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="FileName" type="xsd:string"
          minOccurs="1" maxOccurs="1"/>
        <xsd:element name="FileSystemName" type="xsd:string"
          minOccurs="0" maxOccurs="1"/>
        <xsd:sequence minOccurs="1" maxOccurs="unbounded">
          <xsd:choice minOccurs="1" maxOccurs="1">
            <xsd:element name="Source" type="xsd:string"
              minOccurs="1" maxOccurs="1"/>
            <xsd:element name="Target" type="xsd:string"
              minOccurs="1" maxOccurs="1"/>
          </xsd:choice>
        </xsd:sequence>
        <xsd:element name="CreationFlag" type="xsd:string"
          minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>