trunk/core/components/cddlm/src/org/smartfrog/services/cddlm/xsd/cddml.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- -->
<xs:schema targetNamespace="urn:cddlm/xml/0.1"
  xmlns:cdl="urn:cddlm/xml/0.1"
  xmlns="urn:cddlm/xml/0.1" xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing"
  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  elementFormDefault="qualified" attributeFormDefault="unqualified">

  <!-- ============================================================= -->
  <!-- Layout note -->
  <!-- This schema is split into attributes and elements-->
  <!-- each group is listed in alphabetical order -->
  <!-- please keep this consistent -->
  <!-- ============================================================= -->


  <!-- ============================================================= -->
  <!-- BEGIN SIMPLETYPES -->
  <!-- ============================================================= -->

  <!-- ============================================================= -->
  <!-- propertyModeType sets requirements on a configurable component: ?-->
  <!-- ============================================================= -->

  <xs:simpleType name="propertyModeType">
    <xs:annotation>
      <xs:documentation>
        -required: The user of the configurable component
          MUST assign values of this property.
        -optional: The user of the configurable component
          MAY assign values of this property.
        -automatic: The value of this property is given
          by the implementation of a components
          in deployment time. Users of configurable components
          MUST NOT assign values of this property but
          MAY refer to this property with (lazy) references.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="required"/>
      <xs:enumeration value="optional"/>
      <xs:enumeration value="automatic"/>
    </xs:restriction>
  </xs:simpleType>


  <!-- ============================================================= -->
  <!-- naming rules for components ?-->
  <!-- ============================================================= -->
  <xs:simpleType name="namingType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[\p{L}\-\.][\p{L}\-\.\P{Nd}]*"/>
    </xs:restriction>
  </xs:simpleType>


  <!-- ============================================================= -->
  <!-- extendsType ?-->
  <!-- ============================================================= -->
  <xs:simpleType name="extendsType">
    <xs:annotation>
      <xs:documentation>
        type for extensions.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:QName">
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================= -->
  <!-- refrootTrype ?-->
  <!-- ============================================================= -->
  <xs:simpleType name="refrootTrype">
    <xs:annotation>
      <xs:documentation>
        Root references for references
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:QName">
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================= -->
  <!-- refType ?-->
  <!-- ============================================================= -->
  <xs:simpleType name="refType">
    <xs:annotation>
      <xs:documentation>
        type for references. XPath1.0 by default
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <!-- ============================================================= -->
  <!-- END SIMPLETYPES -->
  <!-- ============================================================= -->

  <!-- ============================================================= -->
  <!-- BEGIN ATTRIBUTES-->
  <!-- Attributes can be attached to other XML elements, as well -->
  <!--     as CDL elements -->
  <!-- ============================================================= -->

  <!-- ============================================================= -->
  <!-- The @cdl:extends attribute defines inheritance-->
  <!-- ============================================================= -->
  <xs:attribute name="extends" type="cdl:extendsType">
    <xs:annotation>
      <xs:documentation>
      The @cdl:extends attribute is used in a property list to inherit an
      existing property list.
      </xs:documentation>
    </xs:annotation>
  </xs:attribute>

  <!-- ============================================================= -->
  <!-- The @cdl:mode attribute-->
  <!-- ============================================================= -->

  <xs:attribute name="mode" type="cdl:propertyModeType">
    <xs:annotation>
      <xs:documentation>
      mode of assigment
      </xs:documentation>
    </xs:annotation>
  </xs:attribute>


  <!-- ============================================================= -->
  <!-- The @cdl:name attribute-->
  <!-- ============================================================= -->

  <xs:attribute name="name" type="cdl:namingType">
    <xs:annotation>
      <xs:documentation>
      A unique name for the attribute
      </xs:documentation>
    </xs:annotation>
  </xs:attribute>

  <!-- ============================================================= -->
  <!-- The @cdl:ref attribute-->
  <!-- ============================================================= -->

  <xs:attribute name="ref" type="cdl:refType">
    <xs:annotation>
      <xs:documentation>
      A reference in the language specified by @cdl:pathlanguage
      </xs:documentation>
    </xs:annotation>
  </xs:attribute>

  <!-- ============================================================= -->
  <!-- The @cdl:refroot attribute-->
  <!-- ============================================================= -->

  <xs:attribute name="refroot" type="cdl:refrootTrype">
    <xs:annotation>
      <xs:documentation>
        This specifies the reference root for reference resolution.
        The default value is the QName of the property list that includes
        this node in its descendant.
      </xs:documentation>
    </xs:annotation>
  </xs:attribute>


  <!-- ============================================================= -->
  <!-- END ATTRIBUTES-->
  <!-- ============================================================= -->

  <!-- ============================================================= -->
  <!-- BEGIN COMPLEX TYPES -->
  <!-- ============================================================= -->

  <xs:complexType name="propertyListType">
    <xs:sequence>
      <xs:any minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="name" type="cdl:namingType" use="optional"/>
    <xs:attribute name="extends" type="cdl:extendsType" use="optional"/>
  </xs:complexType>

  <!-- ============================================================= -->
  <!-- END COMPLEX TYPES -->
  <!-- ============================================================= -->

  <!-- ============================================================= -->
  <!-- BEGIN ELEMENTS -->
  <!-- ============================================================= -->


  <!-- ============================================================= -->
  <!-- This is the base declaration; cdl -->
  <!-- ============================================================= -->

  <xs:element name="cdl">
    <xs:annotation>
      <xs:documentation>
        This is the root element.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="import" minOccurs="0" />
        <xs:element ref="include" minOccurs="0"/>
        <xs:element ref="types" minOccurs="0" />
        <xs:element ref="configuration" minOccurs="0" maxOccurs="1" />
        <xs:element ref="system" minOccurs="0"  maxOccurs="1"/>
      </xs:sequence>

      <!-- path language declaration-->
      <xs:attribute name="pathlanguage"
        type="xs:anyURI"
        use="optional"
        default="http://www.w3.org/TR/1999/REC-xpath-19991116"
        >
      <xs:annotation>
        <xs:documentation>
      The path language for reference resolution is XPath1.0 by default
        </xs:documentation>
      </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>


  <!-- ============================================================= -->
  <!-- import external CDL -->
  <!-- ============================================================= -->

  <xs:element name="import">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The namespace and location of another CDL file to import
        </xs:documentation>
      </xs:annotation>
      <xs:attribute name="namespace" type="xs:anyURI" use="required"/>
      <xs:attribute name="location" type="xs:anyURI" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================= -->
  <!-- include -->
  <!-- ============================================================= -->

  <xs:element name="include">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          The location of another CDL file to import.
        </xs:documentation>
      </xs:annotation>
      <xs:attribute name="location" type="xs:anyURI" use="required"/>
    </xs:complexType>
  </xs:element>


  <!-- ============================================================= -->
  <!-- types is anything-->
  <!-- ============================================================= -->

  <xs:element name="types">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          XML Schema type definitions
        </xs:documentation>
      </xs:annotation>
    </xs:complexType>
  </xs:element>


  <!-- ============================================================= -->
  <!-- configuration is some components-->
  <!-- ============================================================= -->

  <xs:element name="configuration">
    <xs:complexType mixed="false">
      <xs:annotation>
        <xs:documentation>
      The configuration declares components
        </xs:documentation>
      </xs:annotation>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element  name="component" type="cdl:propertyListType"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================= -->
  <!-- a system is a propertylist instance-->
  <!-- ============================================================= -->

  <xs:element name="system" type="cdl:propertyListType">
    <xs:annotation>
      <xs:documentation>
      The system is a component that describes what is to be deployed
      </xs:documentation>
    </xs:annotation>
  </xs:element>


  <!-- ============================================================= -->
  <!-- Proposed Assertions -->
  <!-- ============================================================= -->

  <xs:complexType name="letType" >
    <xs:annotation>
      <xs:documentation>
      This is an assignment operation whose semantics are as yet undefined
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="let" type="xs:NCName" use="required"/>
    <xs:attribute name="refroot" type="cdl:refType" use="required"/>
    <xs:attribute name="ref" type="cdl:refrootTrype" use="required"/>
  </xs:complexType>

  <xs:element name="assert" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="let" minOccurs="0" maxOccurs="unbounded"  type="letType">
        </xs:element>
        <xs:element name="cond" minOccurs="1" maxOccurs="1" type="xs:string">
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- ============================================================= -->
  <!-- Proposed Expression -->
  <!-- ============================================================= -->

  <xs:element name="expression">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
        This evaluates an XPath expression
        </xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="let" minOccurs="0" maxOccurs="unbounded" type="letType">
        </xs:element>
        <xs:element name="return" minOccurs="1" maxOccurs="1" type="xs:string">
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <!-- ============================================================= -->
  <!-- Proposed placement -->
  <!-- ============================================================= -->

  <xs:complexType name="placementType">
    <xs:attribute name="to" type="cdl:refType" use="required"/>
  </xs:complexType>

  <xs:element name="placement" type="cdl:placementType">
  </xs:element>


  <!-- ============================================================= -->
  <!-- Proposed : a @cdl:lazyattribute-->
  <!-- ============================================================= -->

  <xs:attribute name="lazy" type="cdl:boolean" default="true" fixed="true" >
    <xs:annotation>
      <xs:documentation>
      mode of assigment
      </xs:documentation>
    </xs:annotation>
  </xs:attribute>
</xs:schema>