core/components/cddlm/src/org/smartfrog/services/cddlm/xsd/deploymentAPI.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions
  targetNamespace="http://gridforum.org/cddlm/serviceAPI/api/2004/07/30"
  xmlns:types="http://gridforum.org/cddlm/serviceAPI/types/2004/07/30"
  xmlns:api="http://gridforum.org/cddlm/serviceAPI/api/2004/07/30"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  > 

  <!--
  xmlns:jsdl="http://www.gridforum.org/JSDL"
  xmlns:wsbf=
  "http://www.ibm.com/xmlns/stdwip/web-services/WS-BaseFaults"
  -->
  <!-- ============================================================= -->
  <wsdl:documentation>

    This is the WSDL Describing the service API for the public deployment
    services of a CDDLM Basic Services runtime. 
    
    It binds the XSD types described in the deployment API types document
    to a service endpoint.
    
    2004-07-30
    This is an initial draft for the first demonstration-grade prototypes. 
    It may change completely in future. 


    The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL
    NOT", "SHOULD", "SHOULD NOT", "RECOMMENDED",  "MAY", and
    "OPTIONAL" in this document are to be interpreted as described in
    RFC 2119.
    http://www.ietf.org/rfc/rfc2119.txt

  </wsdl:documentation>
     
  <!-- ============================================================= -->
  <!-- BEGIN IMPORTS -->
  <!-- ============================================================= -->
  <!--

<import
  namespace="urn:cddlm/xml/0.1"
  schemaLocation="cddlm.xsd"/>
  -->

  <!-- import the types -->
  <wsdl:import
    namespace="http://gridforum.org/cddlm/serviceAPI/types/2004/07/30"
    location="deployAPIschema.xsd"/>

  <!--
    <import
      namespace="http://www.gridforum.org/JSDL"
      schemaLocation="jsdl.xsd"/>

    -->

  <!-- ============================================================= -->
  <!-- END IMPORTS -->
  <!-- ============================================================= -->
    
  <!-- ============================================================= -->
  <!-- begin WSDL types -->
  <!-- ============================================================= -->
  <wsdl:types>


    <!-- ============================================================= -->
    <!-- end WSDL types -->
    <!-- ============================================================= -->

  </wsdl:types>

  <!-- ============================================================= -->
  <!-- begin WSDL message types-->
  <!-- ============================================================= -->

  <wsdl:message name="deployRequest">
    <wsdl:part element="types:deployRequest" name="deploy"/>
  </wsdl:message>

  <wsdl:message name="deployResponse">
    <wsdl:part element="types:deployResponse" name="response"/>
  </wsdl:message>

  <wsdl:message name="undeployRequest">
    <wsdl:part element="types:undeployRequest" name="undeploy"/>
  </wsdl:message>

  <wsdl:message name="undeployResponse">
    <wsdl:part element="types:undeployResponse" name="response"/>
  </wsdl:message>

  <wsdl:message name="serverStatusRequest">
    <wsdl:part element="types:serverStatusRequest" name="serverStatus"/>
  </wsdl:message>

  <wsdl:message name="serverStatusResponse">
    <wsdl:part element="types:serverStatusResponse" name="response"/>
  </wsdl:message>

  <wsdl:message name="applicationStatusRequest">
    <wsdl:part element="types:applicationStatusRequest" name="applicationStatus"/>
  </wsdl:message>

  <wsdl:message name="applicationStatusResponse">
    <wsdl:part element="types:applicationStatusResponse" name="response"/>
  </wsdl:message>

  <wsdl:message name="lookupApplicationRequest">
    <wsdl:part element="types:lookupApplicationRequest" name="lookupApplication"/>
  </wsdl:message>

  <wsdl:message name="lookupApplicationResponse">
    <wsdl:part element="types:lookupApplicationResponse" name="response"/>
  </wsdl:message>

  <wsdl:message name="listApplicationsRequest">
    <wsdl:part element="types:listApplicationsRequest" name="listApplications"/>
  </wsdl:message>

  <wsdl:message name="listApplicationsResponse">
    <wsdl:part element="types:listApplicationsResponse" name="response"/>
  </wsdl:message>

  <wsdl:message name="setCallbackRequest">
    <wsdl:part element="types:setCallbackRequest" name="setCallback"/>
  </wsdl:message>

  <wsdl:message name="setCallbackResponse">
    <wsdl:part element="types:setCallbackResponse" name="response"/>
  </wsdl:message>

  <!-- ============================================================= -->
  <!-- begin WSDL operations -->
  <!-- ============================================================= -->

  <wsdl:portType name="DeploymentEndpoint">

    <!-- deploy -->
    <wsdl:operation name="deploy">
      <wsdl:input message="api:deployRequest" name="deployRequest"/>
      <wsdl:output message="api:deployResponse" name="deployResponse"/>
    </wsdl:operation>

    <!-- undeploy -->
    <wsdl:operation name="undeploy">
      <wsdl:input message="api:undeployRequest" name="undeployRequest"/>
      <wsdl:output message="api:undeployResponse" name="undeployResponse"/>
    </wsdl:operation>

    <!--  server status -->
    <wsdl:operation name="serverStatus">
      <wsdl:input message="api:serverStatusRequest" name="serverStatusRequest"/>
      <wsdl:output message="api:serverStatusResponse" name="serverStatusResponse"/>
    </wsdl:operation>

    <!--  application status -->
    <wsdl:operation name="applicationStatus">
      <wsdl:input message="api:applicationStatusRequest" name="applicationStatusRequest"/>
      <wsdl:output message="api:applicationStatusResponse" name="applicationStatusResponse"/>
    </wsdl:operation>



    <!--  lookup application -->
    <wsdl:operation name="lookupApplication">
      <wsdl:input message="api:lookupApplicationRequest" name="lookupApplicationRequest"/>
      <wsdl:output message="api:lookupApplicationResponse" name="lookupApplicationResponse"/>
    </wsdl:operation>

    <!--  list applications -->
    <wsdl:operation name="listApplications">
      <wsdl:input message="api:listApplicationsRequest" name="listApplicationsRequest"/>
      <wsdl:output message="api:listApplicationsResponse" name="listApplicationsResponse"/>
    </wsdl:operation>

    <wsdl:operation name="setCallback">
      <wsdl:input message="api:setCallbackRequest" name="setCallbackRequest"/>
      <wsdl:output message="api:setCallbackResponse" name="setCallbackResponse"/>
    </wsdl:operation>

  </wsdl:portType>
 
 
  <!-- ============================================================= -->
  <!-- Bind WSDL to doc/lit SOAP1.2 -->
  <!-- ============================================================= -->

  <wsdl:binding name="cddlmSoapBinding" type="api:DeploymentEndpoint">
    <wsdlsoap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http"/>

    <!-- deploy -->
    <wsdl:operation name="deploy">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="deployRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deployResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="undeploy">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="undeployRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="undeployResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="serverStatus">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="serverStatusRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="serverStatusResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>


    <wsdl:operation name="applicationStatus">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="applicationStatusRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="applicationStatusResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>


    <wsdl:operation name="lookupApplication">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="lookupApplicationRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="lookupApplicationResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="listApplications">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="listApplicationsRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listApplicationsResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="setCallback">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="setCallbackRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setCallbackResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>
 
  <!-- ============================================================= -->
  <!-- begin WSDL service declaration -->
  <!-- this is just a sample declaration; the real location of the service -->
  <!-- has to be determined through other means -->
  <!-- ============================================================= -->


  <!--
  <wsdl:service name="CDDLMDeploymentService">
    <wsdl:documentation >
      This is a sample CDDLM deployment service, and is only for testing
    </wsdl:documentation>
    <wsdl:port binding="api:cddlmSoapBinding" name="cddlm">
     <wsdlsoap:address location="http://localhost:5050/axis/services/cddlm"/>
    </wsdl:port>
   </wsdl:service>
   -->
 
 
  <!-- ============================================================= -->
  <!-- end WSDL definitions-->
  <!-- ============================================================= -->

</wsdl:definitions>
