core/components/cddlm/src/org/smartfrog/services/cddlm/xsd/smartfrog.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema elementFormDefault="qualified" 
  targetNamespace="http://gridforge.org/cddlm/smartfrog/2004/07/30"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  >
	
	

  <xsd:complexType name="smartFrogDeploymentDescriptorType">
      <xsd:annotation>
      <xsd:documentation>
        SmartFrog deployment Descriptor. 
        Contains the payload as a string, the language version as an attribute
      </xsd:documentation>
    </xsd:annotation>  
      <xsd:element name="smartfrog" type="xsd:string" 
        minOccurs="0" maxOccurs="1"/>
    <xsd:attribute name="version" type="xsd:string" use="required"/>
  </xsd:complexType>
  
</xsd:schema>
